#tituloPpal{

    text-align: center;
    font-size: 45px;
    
}

div{
    background-color: aqua;
}

#imagen1  {
    border-radius: 50%;
    margin: 5%;
}

#imagen2{
    border-radius: 50%;
    margin: 5%;
    
}

#imagen3{
    border-radius: 50%;
    margin: 5%;
    
}

#enSoho1{
    margin: 4.5%;
    border: 1px solid rgb(14, 10, 235);
    border-radius: 50px;
    padding: 15px;
  
}

#enSoho2{
    margin: 4.5%;
    border: 1px solid rgb(14, 10, 235);
    border-radius: 50px;
    padding: 15px;
}

#enSoho3{
    margin: 4.5%;
    border: 1px solid rgb(14, 10, 235);
    border-radius: 50px;
    padding: 15px;
}

#imagenesDeLaEpa{
    height: 10%;
    background-color: red;
}

#uno{
    color: yellow;
    text-align: center;
    background-position: right top;
}

body{
    background-color: white;
}

#biografiaDeLaEpa{
    font-size: 170%;
    text-align: center;
}

#enEstosMomentos{
    font-size: 170%;
    text-align: center;
}

#parrafoRedes{
    font-size: 220%;
    float: left;
    margin-left: 10%;

}

#parrafoYoutube{
    
    float: left;
    margin-left: 15%;

}


h2{
    text-align: center;
    font-style: italic;
    font-size: 230%;
    
}

#instagram{
    color: black;
}

#facebook{
    color: black;
}

#marque{
    margin-left: 5%;
}

#videoFamoso{
    font-size: 200%;
    text-align: center;
}

body {
    cursor: url(nat870.cur), pointer;
 }

#enSoho{
    text-align: center;
}

#epaMundial{
    font-size: 220%;
    text-align: center;
}

#mundial1{
    margin: 4.5%;
    border: 1px solid rgb(14, 10, 235);
    border-radius: 50px;
    padding: 15px;
}

#mundial2{
    margin: 4.5%;
    border: 1px solid rgb(14, 10, 235);
    border-radius: 50px;
    padding: 15px;
}

#mundial3{
    margin: 4.5%;
    border: 1px solid rgb(14, 10, 235);
    border-radius: 50px;
    padding: 15px;
}

#epaFamosa{
    text-align: center;
}

#parrafoEpaFamosa{
    font-size: 220%;
    text-align: center;
}





